@import url("https://use.typekit.net/qic4ixk.css");

body {
  width: 500px;
  height: 500px;
}

.title {
  font-family: adobe-garamond-pro, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 30px;
}

.footer {
  text-align: center;
  border: 0.5px solid #000;
  padding: 10px;
}
